<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">S name:</strong>
    <%= user.s_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lastname:</strong>
    <%= user.lastname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">S lastname:</strong>
    <%= user.s_lastname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rut:</strong>
    <%= user.rut %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Passport:</strong>
    <%= user.passport %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Password:</strong>
    <%= user.password %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= user.country_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bloodtype:</strong>
    <%= user.bloodtype_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Usertype:</strong>
    <%= user.usertype_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this user", edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
