<div id="<%= dom_id disease %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= disease.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= disease.code %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this disease", disease, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this disease", edit_disease_path(disease), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
