<div id="<%= dom_id medicament %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= medicament.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Compound:</strong>
    <%= medicament.compound %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this medicament", medicament, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this medicament", edit_medicament_path(medicament), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
